html,
body{
    margin: 0;
    padding: 0;
}
.container-centered{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-centered button{
    padding: 0.5rem 0.8rem;
    background-color: #5db85c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}